.section {
  background: #f6f6f6;
  padding-bottom: 40px;
}
.head {
  margin-top: 42px;
  padding-top: 80px;
}

.mainText {
  font-style: normal;
  font-weight: normal;
  color: #545454;

  align-items: center;
  letter-spacing: 0;
}
.spanText {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;

  color: #545454;
}
.inp {
  margin-top: 20px;
}

.fr,
.descriprion {
  margin-top: 20px;
}
.descriprion {
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: #b2b2b2;
}
.donationDog {
  margin-top: 42px;
}

/*? Адаптивочка подъехала  */

@media (min-width: 768px) {
  .mainBlockDonation {
    width: 380px;
    text-align: initial;
    margin-left: auto;
    margin-right: auto;
  }

  .mainText {
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 0;
  }
  .donationDog {
    width: 505px;
  }
}

@media (min-width: 1280px) {
  .head {
    display: flex;
    flex-flow: row-reverse;
    /* margin-left: auto; */
    justify-content: center;
  }
  .mainBlockDonation {
    margin-left: 30px;
    margin-right: 0px;
  }
}
