.back {
  padding-top: 42px;
  background-color: #f6f6f6;
  padding-bottom: 60px;
}
.list {
  list-style: none;
}

.cart {
  /* width: 270px; */
  min-height: 435px;
  margin-top: 42px;
  margin-left: 5px;
  background: #fafafa;
}
.bt {
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  align-items: center;

  padding: 15px 45px;
  margin-top: 42px;
  margin-bottom: 30px;
}
.text {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;

  letter-spacing: 0.06em;
  color: #292929;
}

@media (min-width: 320px) {
  .posBtn {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    overflow: hidden;

    position: relative;
    height: 50px;
  }
}

.circle {
  width: 40px;
  height: 40px;
  border: 2px solid #cdcdcd;
  border-radius: 50%;

  position: absolute;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circleLeftSide {
  width: 40px;
  height: 40px;
  border: 2px solid #cdcdcd;
  border-radius: 50%;

  position: absolute;
  right: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circleSecond {
  width: 40px;
  height: 40px;
  border: 2px solid #f1cdb3;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5%;
}
.circleThird {
  width: 40px;
  height: 40px;
  border: 2px solid #f1cdb3;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 65%;
}
.circleCenter {
  width: 40px;
  height: 40px;
  border: 2px solid #f1cdb3;
  background-color: #f1cdb3;
  border-radius: 50%;

  position: absolute;
  left: 43%;
}
.digit {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.sectionTitleInfo {
  margin-top: 30px;
  color: #545454;
}
.headText {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 130%;

  display: flex;
  justify-content: center;

  letter-spacing: 0.06em;

  color: #545454;
}

/* ?  */
@media (min-width: 320px) {
  .cart:nth-child(-n + 5) {
    display: none;
  }
}

@media (min-width: 768px) {
  .cart:nth-child(-n + 3) {
    display: block;
  }
  .cartSecond {
    min-height: 435px;
    margin-top: 42px;
    margin-left: 25px;

    display: block;
    background: #fafafa;
  }
  .circleCenter {
    left: 50%;
  }
  .circleLeftSide {
    right: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .circleThird {
    left: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .name {
    margin-top: 30px;
    color: #545454;
  }
  .btn {
    border: 2px solid #f1cdb3;
    box-sizing: border-box;
    border-radius: 100px;
    align-items: center;

    padding: 15px 45px;
    margin-top: 42px;
    margin-bottom: 30px;
  }
  .textInside {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;

    letter-spacing: 0.06em;
    color: #292929;
  }
  .commonBlock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (min-width: 768px) {
  .item {
    position: relative;
  }
  .circle {
    position: absolute;

    left: 30%;
  }
  .circleSecond {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 25%;
  }

  .posBtn {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    overflow: hidden;

    position: initial;
    height: 0px;
  }
  .cartThird {
    display: none;
  }
  .cart {
    margin-right: 10px;
  }
}
@media (min-width: 1280px) {
  .cart:nth-child(-n + 5) {
    display: block;
  }
  .circle {
    position: absolute;
    left: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .circleSecond {
    position: absolute;
    right: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .circleThird {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 55%;
  }
  .circleLeftSide {
    right: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn {
    border: 2px solid #f1cdb3;
    box-sizing: border-box;
    border-radius: 100px;
    align-items: center;

    padding: 15px 45px;
    margin-top: 42px;
    margin-bottom: 30px;
  }
  .textInside {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;

    letter-spacing: 0.06em;
    color: #292929;
  }
  .commonBlock {
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-gap: 10px;
  }
  .cart {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/** Cтили для модального окна  */
.photo {
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-around;
}

.modalContent {
  width: 240px;
  height: 525px;

  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);

  border-radius: 9px;
  outline: none;
  padding: 20px;
}
@media (min-width: 768px) {
  .modalContent {
    width: 630px;
    height: 475px;
  }
}
@media (min-width: 1280px) {
  .modalContent {
    width: 900px;
    height: 500px;
  }
}

.listItems {
  width: 300px;
}
.petSize {
  display: none;
  height: 400px;
}

@media (min-width: 768px) {
  .petSize {
    display: block;
    width: 350px;
    height: 350px;
  }
  .petBlock {
    margin-right: 20px;
  }
}

.petName {
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  margin-bottom: 10px;

  letter-spacing: 0.06em;
  color: #000000;
}
.subtitle {
  /* !  Тут тоже нужно будет менять на другие велечины  */

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;

  letter-spacing: 0.06em;
  margin-bottom: 20px;
  color: #000000;
}
.text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  text-align: inherit;
  margin-bottom: 40px;

  letter-spacing: 0.06em;
  color: #000000;
}
.space:not(:last-child) {
  margin-bottom: 10px;
}
.closeModal {
  width: 40px;
  height: 40px;
  border: 2px solid #f1cdb3;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  cursor: pointer;
  top: -8%;
  right: -5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  display: inline-block;
}
