li {
  list-style: none;
}
.back {
  padding-top: 42px;
  background-color: #f6f6f6;
}
.list {
  list-style: none;
}
.aaaaa {
  background-color: tomato;
}
.page-item {
  color: black;
}
.pos {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
li:not(:first-child) {
  margin-left: 10px;
}
.cart {
  width: 270px;
  min-height: 435px;
  margin-top: 42px;
  /* margin-left: 25px;
  margin-right: 25px; */

  background: #fafafa;
}
.bt {
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  align-items: center;

  padding: 15px 45px;
  margin-top: 42px;
  margin-bottom: 30px;
}
.text {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;

  letter-spacing: 0.06em;
  color: #292929;
}
.commonBlock {
  padding-bottom: 50px;
}
/* .posBtn {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  overflow: hidden;

  position: relative;
  height: 50px;
} */
@media (min-width: 320px) {
  .posBtn {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    overflow: hidden;

    position: relative;
    height: 50px;
  }
  .cart {
    margin-left: 5px;
  }
}
.getToknow {
  padding: 15px 45px;

  width: 260px;
  height: 52px;

  background: #f1cdb3;
  border-radius: 100px;
  border: none;
  margin-top: 42px;
  margin-bottom: 42px;
}

.circle {
  width: 40px;
  height: 40px;
  border: 2px solid #f1cdb3;
  border-radius: 50%;

  position: absolute;
  right: 70%;
  bottom: 0;
}
.circleSecond {
  width: 40px;
  height: 40px;
  border: 2px solid #f1cdb3;
  border-radius: 50%;

  position: absolute;
  right: 15%;
  bottom: 0;
}
.arrow {
  margin-top: 10px;
  padding: 5px;
}
.sectionTitleInfo {
  margin-top: 30px;
  color: #545454;
}
.headText {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 130%;

  display: flex;
  justify-content: center;

  letter-spacing: 0.06em;

  color: #545454;
}

/* ? А вот и Таджики подъехали */
@media (min-width: 320px) {
  .cartSecond {
    display: none;
  }
  .cartThird {
    display: none;
  }
}

@media (min-width: 768px) {
  .cartSecond {
    width: 270px;
    min-height: 435px;
    margin-top: 42px;
    margin-left: 0px;

    display: block;
    background: #fafafa;
  }
  .name {
    margin-top: 30px;
    color: #545454;
  }
  .btn {
    border: 2px solid #f1cdb3;
    box-sizing: border-box;
    border-radius: 100px;
    align-items: center;

    padding: 15px 45px;
    margin-top: 42px;
    margin-bottom: 30px;
  }
  .textInside {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;

    letter-spacing: 0.06em;
    color: #292929;
  }
  .commonBlock {
    /* display: flex; */
    justify-content: center;
  }
  .pos {
    flex-flow: row;
  }
  li:not(:first-child) {
    margin-left: 0px;
  }
}

@media (min-width: 768px) {
  .item {
    position: relative;
  }
  .circle {
    position: absolute;
    top: 30%;
    left: 1%;
  }
  .circleSecond {
    position: absolute;
    top: 30%;
    right: 1%;
  }

  .posBtn {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    overflow: hidden;

    position: initial;
    height: 0px;
  }
  .cartThird {
    display: none;
  }

  .cart {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 1280px) {
  .cartThird {
    width: 270px;
    min-height: 435px;
    margin-top: 42px;
    margin-left: 25px;

    display: block;
    background: #fafafa;
  }
  .name {
    margin-top: 30px;
    color: #545454;
  }
  .btn {
    border: 2px solid #f1cdb3;
    box-sizing: border-box;
    border-radius: 100px;
    align-items: center;

    padding: 15px 45px;
    margin-top: 42px;
    margin-bottom: 30px;
  }
  .textInside {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;

    letter-spacing: 0.06em;
    color: #292929;
  }
  .commonBlock {
    /* display: flex; */
    justify-content: center;
  }
  .pos {
    justify-content: space-evenly;
  }
}
