.site-nav {
  list-style: none;
  margin: 0;
}
.under {
  display: flex;
  flex-direction: column;
}

.container-head {
  display: flex;
}
.burger {
  margin-left: 45px;
}

.subtitle {
  margin-top: 10px;
}
.cozy-style {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;

  letter-spacing: 0.1em;
  color: #ffffff;
  /* ! Не забудь поставить белый цвет, когда сделаешь background */
}
.container-head {
  padding-top: 30px;
  margin-left: 10px;
}
.link {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;

  color: #cdcdcd;
}
li:nth-last-child(n + 2) {
  margin-right: 25px;
}
/* ! Тут пошла рыгать адаптивка  */
/* display: flex; надо дать на navigation */

@media (min-width: 320px) {
  .site-nav {
    display: none;
  }
}
@media (min-width: 768px) {
  .burger {
    display: none;
  }
  .site-nav {
    display: block;
    display: flex;
    margin-left: 62px;
    align-items: center;
  }
  .navigation {
    display: flex;
  }
}
