.siteNav {
  list-style: none;
  margin: 0;
}
.under {
  display: flex;
  flex-direction: column;
}

.containerHead {
  display: flex;
}
/* .burger {
  margin-left: 45px;
} */

.subtitle {
  margin-top: 10px;
}
.cozyStyle {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}
.subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;

  letter-spacing: 0.1em;
  color: #545454;
  /* ! Не забудь поставить белый цвет, когда сделаешь background */
}
.containerHead {
  padding-top: 30px;
  margin-left: 10px;
  padding-bottom: 30px;
}
.link {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;

  padding-top: 10px;

  padding-bottom: 10px;
  color: #545454;
}
.navigation {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
}
.item {
  position: relative;
  display: flex;
}
.item:nth-child(2)::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #f1cdb3;
  border-radius: 2px;
}
/* ! Тут пошла рыгать адаптивка  */
/* display: flex; надо дать на navigation */

@media (min-width: 320px) {
  .siteNav {
    display: none;
  }
  .item:not(:last-child) {
    margin-right: 15px;
  }
}
@media (min-width: 768px) {
  .burger {
    display: none;
  }
  .siteNav {
    display: block;
    display: flex;
    /* margin-left: 62px; */
    align-items: center;
  }
  .navigation {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  /* .item {
      margin-right: 25px;
    } */
  /* li:nth-last-child(n + 2) {
      margin-right: 25px;
    } */
}

/* @media (min-width: 1280px) {
  .siteNav {
    margin-left: 550px;
  }
} */
@media (min-width: 1280px) {
  .navigation {
    min-width: 100%;
    /* display: flex; */
    justify-content: space-between;
  }
}
