body {
  margin: 0;
  font-family: Montserrat;
  color: black;
  font-family: Montserrat;
  background-color: #e7eaf2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
